# Processing Plot Lidar

In this notebook we will create a lidar point cloud for each plot. This includes
- Cropping to the plot geometry
- Loading Z field into Altitude
- Loading Height Above Ground into Z
- Filtering out labeled noise
- Saving cloud as a cloud optimised point cloud (COPC)

To process the data we will use PDAL pipelines.
We will also use dask to run the processing in parallel.

In [1]:
from pathlib import Path
import json

from jinja2 import Template
import geopandas as gpd
import pdal
import pandas as pd

## Pipeline Template

In [2]:
# Note, we could have this just a string, but as a dict allows us to add comments
pipeline_template_dict = [
    # Read the input LAS file
    {
        "type": "readers.copc",
        "filename": "{{ input_path }}",
        "polygon": "{{ polygon_wkt }}",

    },
    # Only take unclassified, ground and vegetation points
    {
        "type": "filters.range",
        "limits": "Classification[0:5]",
    },
    # Load Z into Altitude and HeightAboveGround into Z
    {
        "type": "filters.ferry",
        "dimensions": "Z => Altitude, HeightAboveGround => Z"
    },
    # Classify points below the ground as noise
    {
        "type": "filters.assign",
        "value": ["Classification = 2 WHERE Z < 0", "Z = 0 WHERE Z < 0"],
    },
    # Add the weight field (1 / Number of Returns)
    {
        "type": "filters.assign",
        "value": "Weight = 1 / NumberOfReturns"
    },
    # Save as a COPC file
    {
        "type": "writers.copc",
        "filename": "{{ output_path }}",
        "forward": "scale,offset",
        "extra_dims": "all"
    }
]

pipeline_template = json.dumps(pipeline_template_dict, indent=2)

# Function to replace variables
def replace_pipeline_variables(pipeline_template: str, context: dict):
    template = Template(pipeline_template)
    return template.render(context)

### Plot pipelines

In [3]:
import geopandas as gpd

plots_gdf = gpd.read_file("../data/outputs/plots/plots.geojson")
plots_gdf.head()

,site,plot_number,site_plot_id,id,geometry
0,AGG_O_01,1,AGG_O_01_P1,AGG_O_01_P1,"POLYGON ((463042.83 5259846.736, 463025.797 52..."
1,AGG_O_01,2,AGG_O_01_P2,AGG_O_01_P2,"POLYGON ((463124.556 5259819.234, 463116.068 5..."
2,AGG_O_01,3,AGG_O_01_P3,AGG_O_01_P3,"POLYGON ((463201.174 5259815.806, 463200.551 5..."
3,AGG_O_01,4,AGG_O_01_P4,AGG_O_01_P4,"POLYGON ((463257.777 5259801.962, 463245.303 5..."
4,AGG_O_01,5,AGG_O_01_P5,AGG_O_01_P5,"POLYGON ((463303.022 5259789.552, 463289.794 5..."

In [4]:
outputs_dir = Path("../data/outputs")
sites_lidar_dir = outputs_dir / "sites" / "lidar"
plots_lidar_dir = outputs_dir / "plots" / "lidar"
plots_lidar_dir.mkdir(parents=True, exist_ok=True)

def create_pipeline_from_plot(plot_row):
    site_id = plot_row['site']
    site_plot_id = plot_row['site_plot_id']

    context = {
        "input_path": str(sites_lidar_dir / f"{site_id}.copc.laz"),
        "output_path": str(plots_lidar_dir / f"{site_plot_id}.copc.laz"),
        "polygon_wkt": plot_row.geometry.wkt
    }
    return replace_pipeline_variables(pipeline_template, context)

pipelines = plots_gdf.apply(create_pipeline_from_plot, axis=1).to_list()
print(pipelines[0])

[
  {
    "type": "readers.copc",
    "filename": "../data/outputs/sites/lidar/AGG_O_01.copc.laz",
    "polygon": "POLYGON ((463042.83002541395 5259846.735807601, 463025.79692534194 5259799.726515798, 462975.6639067796 5259817.891450633, 462992.69700685085 5259864.900742435, 463042.83002541395 5259846.735807601))"
  },
  {
    "type": "filters.range",
    "limits": "Classification[0:5]"
  },
  {
    "type": "filters.ferry",
    "dimensions": "Z => Altitude, HeightAboveGround => Z"
  },
  {
    "type": "filters.assign",
    "value": [
      "Classification = 2 WHERE Z < 0",
      "Z = 0 WHERE Z < 0"
    ]
  },
  {
    "type": "filters.assign",
    "value": "Weight = 1 / NumberOfReturns"
  },
  {
    "type": "writers.copc",
    "filename": "../data/outputs/plots/lidar/AGG_O_01_P1.copc.laz",
    "forward": "scale,offset",
    "extra_dims": "all"
  }
]

## Processing

In [5]:
def process_pdal_pipeline(pipeline: str, return_data: bool = False):
    """
    Process a PDAL pipeline string.

    Args:
        pipeline (str): The PDAL pipeline JSON string.
        return_data (bool): If True, return the PDAL Pipeline object after execution. Defaults to False. Returning pipeline data
        will contain metadata and all the points processed by the pipeline. This can be a large object so defaults to False.
    """
    pipeline_obj = pdal.Pipeline(pipeline)
    count = pipeline_obj.execute()  # Execute the pipeline
    return (count, pipeline_obj if return_data else None)

In [6]:
%%time

(count, pl) = process_pdal_pipeline(pipelines[0], return_data=True)
print(f"Processed {count} points.")

points = pl.arrays[0]
points_df = pd.DataFrame(pl.arrays[0])
points_df.head()

Processed 252716 points.
CPU times: user 947 ms, sys: 42.5 ms, total: 990 ms
Wall time: 737 ms

,X,Y,Z,Intensity,ReturnNumber,NumberOfReturns,ScanDirectionFlag,EdgeOfFlightLine,Classification,Synthetic,...,PointSourceId,GpsTime,ScanChannel,Red,Green,Blue,Infrared,HeightAboveGround,Altitude,Weight
0,463020.976,5259853.864,9.702999,30729,1,2,0,0,0,0,...,1,4.118795e+08,0,38036,36237,34695,46277,9.702999,515.146,0.500000
1,463021.434,5259854.039,0.000000,28635,3,3,0,0,2,0,...,1,4.118795e+08,0,26471,24929,24672,41676,0.000000,505.447,0.333333
2,463020.911,5259851.998,0.000000,29477,2,2,0,0,2,0,...,1,4.118795e+08,0,22873,23387,25957,33477,0.000000,505.373,0.500000
3,463021.056,5259852.351,0.000000,28471,3,3,0,0,2,0,...,1,4.118795e+08,0,19532,19532,22102,32570,0.000000,505.413,0.333333
4,463021.130,5259852.531,1.196000,28481,4,4,0,0,0,0,...,1,4.118795e+08,0,31354,31097,31868,29393,1.196000,506.684,0.250000

In [7]:
from dask.distributed import Client

client = Client()  # Start a Dask client
client

In [8]:
futures = client.map(process_pdal_pipeline, pipelines, key=plots_gdf["site_plot_id"].tolist())

In [9]:
client.gather(futures)

[(252716, None),
 (224263, None),
 (275076, None),
 (286625, None),
 (282157, None),
 (140941, None),
 (141178, None),
 (133969, None),
 (154271, None),
 (163370, None),
 (156898, None),
 (125439, None),
 (123924, None),
 (140339, None),
 (130446, None),
 (122761, None),
 (115035, None),
 (104534, None),
 (206294, None),
 (187184, None),
 (180367, None),
 (199822, None),
 (125271, None),
 (77728, None),
 (111543, None),
 (112151, None),
 (156136, None),
 (199051, None),
 (151712, None),
 (175477, None),
 (187612, None),
 (161808, None),
 (133269, None),
 (155056, None),
 (171943, None),
 (175053, None),
 (162860, None),
 (134646, None),
 (104395, None),
 (111741, None),
 (228261, None),
 (231726, None),
 (223968, None),
 (285092, None),
 (251251, None),
 (218543, None),
 (208965, None),
 (158307, None),
 (129117, None),
 (119538, None),
 (91654, None),
 (112863, None),
 (105605, None),
 (117650, None),
 (107662, None),
 (257093, None),
 (251103, None),
 (329963, None),
 (308931, None),
 (319892, None),
 (166671, None),
 (189706, None),
 (163630, None),
 (144390, None),
 (198130, None),
 (267891, None),
 (237123, None),
 (246948, None),
 (288019, None),
 (323026, None),
 (81329, None),
 (92032, None),
 (94087, None),
 (99629, None),
 (86338, None),
 (91671, None),
 (93009, None),
 (90651, None),
 (90973, None),
 (107856, None),
 (106245, None),
 (128160, None),
 (111880, None),
 (69453, None),
 (76484, None),
 (349554, None),
 (270713, None),
 (256042, None),
 (262040, None),
 (166238, None),
 (158498, None),
 (168023, None),
 (118496, None),
 (121982, None),
 (174898, None),
 (123720, None),
 (105790, None),
 (155521, None),
 (118240, None),
 (134445, None),
 (202888, None),
 (191514, None),
 (181299, None),
 (185435, None),
 (162758, None),
 (160037, None),
 (142544, None),
 (194997, None),
 (210796, None),
 (143663, None),
 (145688, None),
 (163559, None),
 (138704, None),
 (159559, None),
 (141168, None),
 (228063, None),
 (275706, None),
 (267497, None),
 (314689, None),
 (262700, None),
 (166915, None),
 (209055, None),
 (193726, None),
 (194896, None),
 (192873, None),
 (98841, None),
 (137842, None),
 (199598, None),
 (192922, None),
 (201368, None),
 (198618, None),
 (214151, None),
 (209417, None),
 (200786, None),
 (206682, None),
 (127512, None),
 (148688, None),
 (102301, None),
 (106310, None),
 (117268, None),
 (169013, None),
 (151252, None),
 (158338, None),
 (174207, None),
 (150943, None),
 (167542, None),
 (200097, None),
 (195302, None),
 (163297, None),
 (148855, None),
 (182861, None),
 (142051, None),
 (97902, None),
 (99417, None),
 (96132, None),
 (83973, None),
 (80990, None),
 (82198, None),
 (86696, None),
 (83141, None),
 (138691, None),
 (137735, None),
 (150292, None),
 (144377, None),
 (150146, None),
 (60167, None),
 (56971, None),
 (96413, None),
 (107689, None),
 (126518, None),
 (117837, None),
 (115417, None),
 (121186, None),
 (134658, None),
 (129139, None),
 (98950, None),
 (100680, None),
 (95856, None),
 (100926, None),
 (104758, None),
 (138419, None),
 (202057, None),
 (163640, None),
 (160584, None),
 (178524, None),
 (306301, None),
 (400103, None),
 (347299, None),
 (488304, None),
 (509041, None),
 (127169, None),
 (103606, None),
 (137890, None),
 (139359, None),
 (90841, None),
 (154972, None),
 (167137, None),
 (182070, None),
 (162847, None),
 (161163, None),
 (120715, None),
 (119875, None),
 (134118, None),
 (127711, None),
 (126688, None),
 (138939, None),
 (136825, None),
 (129545, None),
 (148258, None),
 (150006, None),
 (124918, None),
 (112094, None),
 (138153, None),
 (104286, None),
 (151272, None),
 (112585, None),
 (124800, None),
 (125733, None),
 (120428, None),
 (129183, None),
 (155488, None),
 (176926, None),
 (192424, None),
 (159378, None),
 (149919, None),
 (57169, None),
 (71599, None),
 (99808, None),
 (98556, None),
 (97506, None),
 (213365, None),
 (253151, None),
 (263662, None),
 (268437, None),
 (253806, None),
 (50475, None),
 (50041, None),
 (64782, None),
 (100910, None),
 (105228, None),
 (180541, None),
 (171642, None),
 (175025, None),
 (184616, None),
 (165406, None),
 (180439, None),
 (141617, None),
 (137904, None),
 (161912, None),
 (152569, None),
 (189845, None),
 (179073, None),
 (180478, None),
 (176922, None),
 (169045, None),
 (196604, None),
 (267705, None),
 (252030, None),
 (216932, None),
 (194222, None),
 (150134, None),
 (148912, None),
 (204792, None),
 (290442, None),
 (187303, None),
 (350024, None),
 (476067, None),
 (377878, None),
 (497721, None),
 (410551, None),
 (288510, None),
 (383773, None),
 (267135, None),
 (342831, None),
 (317978, None),
 (138700, None),
 (150623, None),
 (137805, None),
 (172331, None),
 (158347, None),
 (123430, None),
 (113399, None),
 (114005, None),
 (127359, None),
 (100416, None),
 (135873, None),
 (154741, None),
 (137184, None),
 (173539, None),
 (151863, None),
 (132049, None),
 (151554, None),
 (145917, None),
 (177155, None),
 (158756, None),
 (221764, None),
 (156859, None),
 (141291, None),
 (147001, None),
 (136050, None),
 (142531, None),
 (205332, None),
 (204411, None),
 (214965, None),
 (190139, None),
 (85825, None),
 (102396, None),
 (103056, None),
 (142588, None),
 (152974, None),
 (109029, None),
 (98848, None),
 (89187, None),
 (75503, None),
 (80155, None)]

In [10]:
client.close()